<div class="main-content">

      <div class="">
          
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">your profile </h4>
                      <p class="card-category">show details</p>
                  </div>
                  <div class="card-body">
                    <label  [ngStyle]="{'font-size.px':size}">id:</label>
                     
                    {{dataArray.idEtudiant}}
                  </div>
                  <div class="card-body">
                    <label  [ngStyle]="{'font-size.px':size}">option :</label> 
                    
                    {{dataArray.opt}}
                  </div>
                  <div class="card-body">
                    <label  [ngStyle]="{'font-size.px':size}">date:</label>  
                    
                    {{dataArray.d}}
                  </div>
                  <div class="card-body">
                    <label  [ngStyle]="{'font-size.px':size}">prenom:</label> 
                    
  
                    {{dataArray.prenomE}}
                  </div>
                  <div class="card-body">
                    <label>nom:</label> 
                  
                    {{dataArray.nomE}}
                  </div>
                  <div >
                    <a mat-raised-button (click)="affecter(dataArray.idEtudiant)" class="btn btn-danger pull-right">affecter des equipes </a>
                    </div>
              </div>
          
          
      </div>

</div>
