<div class="main-content">

  <div class="">
      
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Edit Profile</h4>
                  <p class="card-category">Complete your profile</p>
              </div>
              <div class="card-body">
                  <form #f="ngForm" (ngSubmit)="get(f)">
                      <div class="row">
                          
                          <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput name="title" #title="ngModel" ngModel placeholder="ID Departement"disabled>
                              </mat-form-field>
                          </div>
                          <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input matInput name="nomDepart" #nomDepart="ngModel" ngModel placeholder="Nom Departement" type="text"required>
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          
                        <div class="col-md-3">
                            <mat-form-field class="example-full-width">
                              <input matInput name="emailDepart" #emailDepart="ngModel" type="email" ngModel placeholder="Email Departement">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="numero Departement" type="text">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                          
                      <div class="col-md-3">
                          <mat-form-field class="example-full-width">
                            <input matInput name="title" type="text" ngModel placeholder="adresse">
                          </mat-form-field>
                      </div>
                      <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Code Postal" type="text">
                          </mat-form-field>
                      </div>
                  </div>
                     
                      
                    
                     
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right">ajouter Departement</button>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
          
      
      
  </div>

</div>
