<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete the details (NB:you'll be logged out after completing the details)</p>
                  </div>
                  <div class="card-body">
                    <form style="text-align: -webkit-center;" [formGroup]="form" (ngSubmit)="save()">
    
  
                      <div class="inputGroup inputGroup1">
                        
                        <mat-form-field style="width: 50%;" class="example-full-width">
                        <input matInput  placeholder="UserName" type="text" id="email" formControlName="idEtudiant"  class="email" maxlength="256" />
                        <mat-error>Error: {{ getErrorMessage('idEtudiant') }}</mat-error>
                      </mat-form-field>
                        
                      </div>
                      <div class="inputGroup inputGroup2">
                        
                        <mat-form-field style="width: 50%;" class="example-full-width">
                        <input matInput  placeholder="First Name" type="text" id="email" formControlName="prenomE" class="email" maxlength="256" />
                        <mat-error>Error: {{ getErrorMessage('prenomE') }}</mat-error>
                      </mat-form-field>
                        
                      </div>
                      <div class="inputGroup inputGroup3">
                        
                        <mat-form-field style="width: 50%;" class="example-full-width">
                        <input matInput  placeholder="Last Name" type="text" id="email"  formControlName="nomE"  class="email" maxlength="256" />
                        <mat-error>Error: {{ getErrorMessage('nomE') }}</mat-error>
                      </mat-form-field>
                    </div>
                    <div class="inputGroup inputGroup8">
                      <mat-form-field style="width: 50%;" class="example-full-width">
                        <input matInput  placeholder="Date de naissance"  formControlName="d" type="date" >
                        <mat-error>Error: {{ getErrorMessage('d') }}</mat-error>
                      </mat-form-field>
                  </div>
                  
                    <div class="inputGroup inputGroup3">
                        
                      <mat-form-field style="width: 50%;" class="example-full-width">
                        <input matInput placeholder="Password" formControlName="userPassword"  [errorStateMatcher]="passwordErrorMatcher"  required/>
                        <mat-error>Error: {{ getErrorMessage('userPassword') }}</mat-error>
                        </mat-form-field>
                  </div>
                  <div class="inputGroup inputGroup3">
                        
                    <mat-form-field style="width: 50%;" class="example-full-width">
                      <input matInput placeholder="Confirm" formControlName="confirm"  [errorStateMatcher]="confirmErrorMatcher" required/>
                      <mat-error>Error: {{ getErrorMessage('confirm') }}</mat-error>
                      </mat-form-field>
                  </div>
                  
                      <div class="inputGroup inputGroup7 col text-center">
                        <button mat-raised-button id="login" type="submit" class="btn btn-danger " [disabled]="form.invalid" >Update Profile</button>
                      </div>
                    </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 *ngIf="role=='User'">User / Etudiant</h6>
                      <h6 *ngIf="role=='Admin'">Admin</h6>
                      <h4 class="card-title">{{data.userFirstName}} {{data.userLastName}}</h4>
                      <h5 class="card-title">{{data.userName}}</h5>
                      <p *ngIf="role=='Admin'" class="card-description">
                        Un admin est comme un super-utilisateur, qui peut superviser l'ensemble du compte : il peut tout gérer,...
                      </p>
                      <p *ngIf="role=='User'" class="card-description">
                        En tant qu'étudiant, vous pouvez naviguer dans votre espace, essayez d'être en sécurité,...
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Enjoy</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
