<div class="main-content">

  <div class="">
      
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Detail blog</h4>
                  <p class="card-category"></p>
              </div>
              <div class="card-body">
                L'ID est : {{dataArray.idBlog}}
              </div>
              <div class="card-body">
                Le titre :{{dataArray.titre}}
              </div>
              <div class="card-body">
               La description :{{dataArray.description}}
              </div>
              <div class="card-body">
               l'image : {{dataArray.image}}
              </div>
            
          </div>
      
      
  </div>

</div>
