<div class="main-content">

      <div class="">
          
              <div class="card" id="content #content">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">show equipe</p>
                  </div>
                  <div class="card-body">
                    id: {{dataArray.idEquipe}}
                  </div>
                  <div class="card-body">
                    nom: {{dataArray.nomEquipe}}
                  </div>
                  <div class="card-body">
                    niveau:{{dataArray.niveau}}
                  </div>
              </div>
              
<div class="col-md-4 text-right">
  <button class="btn btn-danger btn-block" (click)="openPDF()">Download PDF</button>
</div>
          
          
      </div>

</div>


