<div class="main-content">

      <div class="">
          
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Detail contrat</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                    L'ID est : {{dataArray.idContrat}}
                  </div>
                  <div class="card-body">
                    La date debut est :{{dataArray.dateDebutContrat}}
                  </div>
                  <div class="card-body">
                    La date fin :{{dataArray.dateFinContrat}}
                  </div>
                  <div class="card-body">
                    L'archive est : {{dataArray.archive}}
                  </div>
                  <div class="card-body">
                    La specialite est : {{dataArray.spec}}
                  </div>
              </div>
          
          
      </div>

</div>o
