<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                    <div style="position:absolute">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Equipes </p>
                    
                    </div>
                    <div >
                      <a mat-raised-button href="admin/listequipe/ajoutequipe" class="btn btn-danger pull-right">Add Equipe</a>
                    </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead  class=" text-primary">
                                <th>
                                  idEquipe
                                </th>
                                 
                                  <th>
                                    nomEquipe
                                  </th>
                                  <th>
                                    niveau
                                  </th>
                            
                                  <th>
                                    Edit
                                </th>
                                <th>
                                    Remove
                                </th>
                                <th>
                                  my detail
                                </th>
                                <th>
                                  show all details
                              </th>
                           

                              </thead>
                              <tbody *ngFor="let item of dataArray | paginate:{
                                itemsPerPage : tableSize,
                                currentPage : page ,
                                totalItems : count
                              }; let i = index">
                                  
                                  <tr *ngIf="search=='' || item.nomEquipe.toLowerCase().includes(search)">
                                    <td >
                                      {{item.idEquipe}}
                                    </td>
                                   
                                      <td> <a style="text-decoration: none; color:black" (click)="onselect(item)" >
                                        
                                         {{item.nomEquipe}}
                                        </a>
                                      </td>
                                    
                                      <td >
                                        {{item.niveau}}
                                      </td>
                    
                                     
                                      <td class="td-actions">
                                        <button mat-raised-button (click)="OpenPopup(item)" type="button"  matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                    <td class="td-actions">
                                    <button mat-raised-button type="button"  (click)="getid(item.idEquipe) " matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                                <td class="td-actions">
                                  <button mat-raised-button type="button"  (click)="getmyDetail(item.idEquipe) " matTooltip="show" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                      <i class="material-icons"><span class="material-symbols-outlined">
                                        wysiwyg</span>
                                        </i>
                                  </button>
                              </td>
                              <td class="td-actions">
                                <button mat-raised-button type="button"  (click)="getDetail(item.idEquipe) " matTooltip="show" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                    <i class="material-icons"><span class="material-symbols-outlined">
                                      wysiwyg</span>
                                      </i>
                                </button>
                            </td>
                            
                               
                                  </tr>
                                  
                              </tbody>
                          </table>
                          <div style="text-align: -webkit-center;">
                            <pagination-controls
                            previousLabel="Prev"
                            nextLabel="Next"
                            (pageChange)="onTableDataChange($event)"
                            
                            >

                            </pagination-controls>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>

