<div class="main-content">

      <div class="">
          
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form #f="ngForm" (ngSubmit)="get(f)">
                         
                          <div class="row">
                            <div class="col-md-3">
                              <mat-form-field class="example-full-width">
                                <input matInput name="nomEquipe" #title="ngModel" ngModel  placeholder="nomEquipe" required minlength="3" #t="ngModel">
                                <div *ngIf="t.invalid">
                                  <app-errors [validator]="t"></app-errors>
                                </div>
                              </mat-form-field>
                          </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput name="niveau" #body="ngModel" ngModel  placeholder="Niveau"type="number" step="1" min="0" max="2" required>
                                </mat-form-field>
                              </div>
                            
                          </div>
                      
                         

                          
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right"  [ngClass]="{ disabled : f.invalid }" > Add</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          
          
      </div>

</div>
