<div class="main-content">

      <div class="">
          
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Contrat</h4>
                      <p class="card-category"></p>
                  </div>
                  <div class="card-body">
                      <form [formGroup]="Reactiveform" (ngSubmit)="putpassenger(contrat)">
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="veuillez modifier le contrat" disabled>
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput name="dateDeb"  type="date" formControlName="datedeb">
                                </mat-form-field>
                                <div class="alert alert-danger" *ngIf="Reactiveform.controls['datedeb'].errors && Reactiveform.controls['datedeb'].touched ">
                                  date debut is required
                                </div>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput name="dateFin" type="date" formControlName="datefin">
                                </mat-form-field>
                                <div class="alert alert-danger" *ngIf="Reactiveform.controls['datefin'].errors && Reactiveform.controls['datefin'].touched ">
                                  date fin is required
                                </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Montant" name="montant" type="number" formControlName="montant">
                                </mat-form-field>
                                <div class="alert alert-danger" *ngIf="Reactiveform.controls['montant'].errors && Reactiveform.controls['montant'].touched ">
                                  montant is required
                                </div>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field appearance="fill">
                                <mat-label>Changer l'etat d'archive</mat-label>
                                <mat-select  formControlName="archive" required>
                                  <mat-option value="false">False</mat-option>
                                  <mat-option value="true">True</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <div class="alert alert-danger" *ngIf="Reactiveform.controls['archive'].errors && Reactiveform.controls['archive'].touched ">
                                archive is required
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <mat-form-field appearance="fill">
                                <mat-label>Choisir une specialite</mat-label>
                                <mat-select  formControlName="specialite" required>
                                  <mat-option value="IA">IA</mat-option>
                                  <mat-option value="Resaux">Resaux</mat-option>
                                  <mat-option value="Cloud">Cloud</mat-option>
                                  <mat-option value="Securite">Securite</mat-option>
                                </mat-select>
                              </mat-form-field>
                              <div class="alert alert-danger" *ngIf="Reactiveform.controls['specialite'].errors && Reactiveform.controls['specialite'].touched ">
                                specialite is required
                              </div>
                            </div>
                          </div>
                          <button mat-raised-button type="submit" [disabled]="Reactiveform.invalid" class="btn btn-danger pull-right">Update Contrat</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          
          
      </div>

</div>
