<div class="main-content">
  <div class="container-fluid">
      <div class="row">
        
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Nombre Etudiants</p>
                      <h3 class="card-title">{{stu}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">date_range</i> Last 24 Hours
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-8 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Nombre reclamations
                      </p>
                      <h3 class="card-title">{{rec}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">local_offer</i> Recently updated
                      </div>
                  </div>
              </div>
          </div>
         
      </div>
     
  </div>
</div>
