<div class="main-content">

    <div class="">

        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Detail Reclamation</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body">
                L'ID est : {{dataArray.idReclamation}}
            </div>
            <div class="card-body">
                La description   est :{{dataArray.description}}
            </div>
           
        </div>


    </div>

</div>