<div class="main-content" >
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                    <div style="position:absolute">
                      <h4 class="card-title "> Table Departement</h4>
                      
                    
                    </div>
                    <div >
                      <a mat-raised-button  href="admin/ajoutDepart" class="btn btn-danger pull-right">Ajouter Departement</a>
                    </div>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead  class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Nom Departement
                                  </th>
                                  <th>
                                      Email Departement
                                  </th>
                                  <th>
                                      numero Departement
                                  </th>
                                  <th>
                                      adresse Departement
                                  </th>
                                  <th>
                                    code Postal
                                </th>
                                  <th>
                                    Modifier
                                </th>
                                <th>
                                    Supprimer
                                </th>
                              </thead>
                              <tbody *ngFor="let item of dataArray | paginate:{
                                itemsPerPage : tableSize,
                                currentPage : page ,
                                totalItems : count
                              }; let i = index">
                                  <tr *ngIf="search=='' || item.nomDepart.toLowerCase().includes(search)">
                                 
                                  <tr *ngIf="search=='' || item.adresse.toLowerCase().includes(search)">


                                   
                                      <td> <a style="text-decoration: none; color:black" (click)="onselect(item)" >
                                        
                                         {{item.idDepart}}
                                        </a>
                                      </td>
                                    
                                      <td >
                                        {{item.nomDepart}}
                                        
                                      </td>
                                      <td>
                                        {{item.emailDepart}}
                                        
                                      </td>
                                      <td>
                                        {{item.numDepart}}
                                        
                                      </td>
                                      <td >
                                        {{item.adresse}}
                                        
                                        
                                      </td>
                                      <td >
                                        {{item.codepostal}}
                                        
                                        
                                      </td>
                                      <td class="td-actions">
                                        <button mat-raised-button (click)="OpenPopup(item)" type="button"  matTooltip="Modifier" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                    </td>
                                    <td class="td-actions">
                                    <button mat-raised-button type="button" (click)="getid(item.idDepart) " matTooltip="Supprimer" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                                  </tr>
                                  
                              </tbody>
                          </table>
                          <div style="text-align: -webkit-center;">
                            <pagination-controls
                            previousLabel="Prev"
                            nextLabel="Next"
                            (pageChange)="onTableDataChange($event)"
                            
                            >

                            </pagination-controls>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</div>
