<div class="main-content">
    <div class="">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Add Universite</h4>
                <p class="card-category">New Universite</p>
            </div>
            <div class="card-body">
                <form #FormUniv="ngForm">
                    <div class="row">
                        <div class="col-md-3">
                            <label>NOM Universite</label>
                            <input type="text" name="nomUniv" ngModel required minlength="2" #nomUniv="ngModel">
                                <div *ngIf="nomUniv.invalid && nomUniv.touched">
                                    <div *ngIf="nomUniv.errors?.['required']">required</div>
                                    <div *ngIf="nomUniv.errors?.['minlength']">Le nom doit contenir au moins 3 lettres</div>
                                </div>  
                        </div>    
                        <div class="col-md-3">
                            <input  type="submit" class="btn btn-danger pull-right" value="Submit" (click)="addUniversite(FormUniv)">
                        </div>
                    <div class="clearfix"></div>
                 </div>
            </form>
        </div>
    </div>
</div>
